<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>
    <div class="page-container">
      <div id="app">
        <h2>Login</h2>
        {% if erro %}
          <p style="color: red;">{{ erro }}</p>
        {% endif %}
        <form method="POST">
          <label for="matricula">Matrícula:</label>
          <input name="matricula" required>

          <label for="senha">Senha:</label>
          <div style="position: relative;">
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            <button type="button" onclick="togglePassword()" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); background: none; border: none; color: #bbb; cursor: pointer; font-size: 1.1rem;">👁️</button>
          </div>

          <button type="submit">Entrar</button>
        </form>
        <form action="/register">
          <button type="submit" class="link-btn">Criar conta</button>
        </form>
        <form action="/esqueci_senha">
          <button type="submit" class="link-btn">Esqueci a senha</button>
        </form>
      </div>

      <!-- Rodapé dentro do container -->
      <footer class="footer">
        Desenvolvido por: Ian Figueiredo de Souza
      </footer>
    </div>

    <script>
      function togglePassword() {
        const input = document.getElementById('senha');
        input.type = input.type === 'password' ? 'text' : 'password';
      }
    </script>


</body>
</html>
